p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --green: #00A653;
}

.header {
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    border-radius: 15px;
    background-color: var(--green);
}

.header__top {
    display: flex;
    margin-bottom: 10px;
    justify-content:space-between;
}

.header__bottom {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
}

.header__logo {
    max-width: 150px;
}

.nav {
    display: flex;
    grid-column-start: 2;
    flex-wrap: wrap;
    gap: 40px;
}

.nav__link {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}

.header__cart {
    position: relative;
    margin-left: auto;
}

.header__cart:hover {
    .header__cart__menu {
        visibility: visible;
    }
}

.header__cart__menu {
    position: absolute;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 16px;
    background-color: white;
    visibility: hidden;
    transform: translateX(-80%);
}

.cart__menu__list {
    width: 350px;
}

.cart__menu__btn {
    margin-right: 20px;
    padding: 10px;
    color: white;
    border: 1px solid var(--green);
    border-radius: 16px;
    background-color: var(--green);
    transition: all 0.1s linear;
}

.cart__menu__btn:hover {
    color: var(--green);
    background-color: transparent;
}

.cart__menu__total {
    color: black;
    font-weight: 700;
}